.viewwrapper {
  width: 95%;
  margin: auto;
}
.options {
  margin-left: 25px;
}

.errormsg {
  color: red;
  margin-left: 10px;
  font-weight: bold;
}

.errormsg2 {
  color: red;
  margin-left: 10px;
  font-size: .85em;
}

.welcome {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
}
 .head1 {
   margin-top: 20px;
 }
